body {
  font-size: 14px;
  font-family: "나눔고딕", "맑은 고딕", "돋움";
}

a {
  text-decoration: none;
  color: black;
}

.org_price {
  color: #999;
  text-decoration: line-through;
}

.evt_price {
  color: rgb(251, 169, 16);
  font-weight: bold;
}